/1_3
/2_3
/3_2
/3_2_shrink.cpp
/4_1
/5_4
/6_1
/7_2
/test
/test.cpp
Module 1/1_3
Module 1/2_3
Module 1/3_2
Module 1/3_2_shrink.cpp
Module 1/4_1
Module 1/5_4
Module 1/6_1
Module 1/7_2
Module 1/test
Module 1/test.cpp
Module 2/1_1
Module 2/1_1_generator
Module 2/1_1_nodes
Module 2/1_1_nodes.cpp
Module 2/2_4
Module 2/4_1
*.txt
!input.txt
!CMakeLists.txt
build
.vscode
Module 2/input.txt
Module 3/2
Module 3/1/1.zip
Module 3/3
Module 3/input.txt
